docker-compose.yaml
/secrets/agent_id_rsa
/secrets/agent_id_rsa.pub
/secrets/acaternbergcb-wildcard-license.key
/secrets/acaternbergcb-wildcard-license.cert
/secrets/applyLicense.sh
/secrets/cb-wildcard-license.cert
/secrets/cb-wildcard-license.key
/CB-Wildcard-License.md
/test/cookies.txt
/test/headers
/ssl/jenkins-home-controller/
/ssl/jenkins-home-oc/
/ssl/cacerts
/ssl/openssl.cnf
/ssl/jenkins.pem
/ssl/jenkins.p12
/ssl/jenkins.key
/ssl/jenkins.jks
/ssl/jenkins.csr
/ssl/jenkins.crt
